/**
 * Minimal CSS Reset from
 * https://alligator.io/css/minimal-css-reset/
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * COGoldRust.com Main Style
 */
body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: underline;
  color: inherit;
}

header#top {
  width: 90%;
  max-width: 1440px;
  margin: 2em auto 2em auto;
  border-bottom: 1px rgba(0, 0, 0, .1) solid;
  padding-bottom: 2em;
}

header#top img.flag {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, .2);
}

header#top h1, header#top h2 {
  margin-top: 1.5em;
  text-align: center;
}

header#top h1 {
  font-size: 2.5em;
}

header#top h1 a, header#top h2 a {
  text-decoration: none;
  outline: none;
}

div.content {
  max-width: 960px;
  width: 90%;
  margin: 0 auto 2em auto;
}

div.content h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
}

div.content h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: .8em;
}

div.content h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .8em;
}

div.content p {
  line-height: 1.7em;
  margin-bottom: 1.5em;
}

div.content p.prelude {
  font-size: 1.2em;
  text-align: center;
}

div.content p.prelude.padded {
  font-size: 1.2em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

div.content p:last-child {
  margin-bottom: 0;
}

div#map {
  margin-bottom: 1.5em;
}

.paper {
  padding: 2em 3em;
  background: rgba(0, 0, 0, .04);
  margin-bottom: 2.5em;
}

p.headline {
  font-size: 2em;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

div#social {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

a.icon {
  text-decoration: none;
  display: block;
  margin: 0 1em 0 1em;
  padding: .5em;
}

img.icon {
  width: 45px;
}

ul.yearbook {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

ul.yearbook li {
  text-align: center;
  padding: 1em;
}

ul.yearbook li h4 {
  font-size: 1.3em;
  margin: 1em auto;
}

ul.speakers {
    justify-content: center;
    margin: 0 auto;
}

ul.speakers li {
    text-align: center;
    padding: 1em;
}

ul.speakers li p.talk {
    font-style: italic;
}

ul.speakers p:last-child {
    text-align: left;
}

h3.small {
  font-size: 1.1em !important;
  border-top: #999 1px solid;
  border-bottom: #999 1px solid;
  width: 100%;
  padding: 1em 0;
}

@media(max-width: 600px) {
  ul.yearbook {
    display: block;
  }

  ul.yearbook li {
    display: block;
    width: 100%;
    margin-bottom: 2em;
    margin-right: 0;
  }

  ul.yearbook li:last-child {
    margin-bottom: 0;
  }
}

ul.yearbook li:last-child {
  margin-right: 0;
}

img.portrait {
  border-radius: 200px;
  max-width: 200px;
  margin-bottom: 1em;
}

footer {
  margin: 0 0;
}

footer h4 {
  color: #FAFAFA;
}

nav.main {
  text-align: center;
  margin: 2em;
}

nav.main ul {
  padding: 0 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav.main ul li {
  margin: 0 .5em;
  padding-right: 1em;
}

@media only screen and (max-width: 700px) {
  nav.main ul {
    flex-direction: column;
  }

  nav.main ul li {
    margin-bottom: .5em;
    padding-right: 0;
  }
}

nav.main ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}

nav.main ul li a {
  text-decoration: underline;
}

p.copyright {
  margin: 2em auto 1em auto;
  display: block;
  font-size: .8em;
  text-align: center;
}

/* Sponsor Packages */
div.sponsor-packages {
  width: 100%;
}

div.sponsor-packages div.table-row, div.sponsor-packages div.table-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  padding: .5em 1em .5em 1em;
}

div.sponsor-packages div.table-row {
  padding: 1em;
}

div.sponsor-packages div.table-header {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  font-size: 1.2em;
}

div.sponsor-packages div.table-cell.gold {
}

div.sponsor-packages div.table-cell.silver {
}

div.sponsor-packages div.table-cell.bronze {
}

div.sponsor-packages div.table-cell {
  text-align: center;
}

div.sponsor-packages div.table-cell.first {
  grid-column: 1 / span 2;
  text-align: right;
}

div.constrain {
  max-width: 750px;
  margin: 3em auto 1.5em auto;
}

div.constrain h3 {
  margin-bottom: 1em;
  font-size: 1.4em;
}

div.constrain div.sponsor {
  margin-bottom: 2.5em;
}

div.sponsor-section {
  margin: 0 auto 1.5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.sponsor-section img {
  min-height: 50px;
  max-width: 500px;
  width: 100%;
}

div.sponsor-section a {
  margin: 1em;
}

div.constrain div.sponsor:last-child {
  margin-bottom: 0;
}

p.subnote {
  text-align: center;
  font-size: .8em;
}

h2.subhead {
  margin-top: 1.5em;
}

div.slack {
  max-width: 500px;
  margin: 0 auto;
}

@media print {
  .screen-only {
    display: none;
  }

  .paper {
    background: transparent;
  }
}
