<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Colorado Gold Rust{% endblock title %}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
  <script src='https://js.tito.io/v1' async></script>
  <link href="{{ get_url(path="style.css") }}" rel="stylesheet">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@COGoldRust">
  <meta name="twitter:creator" content="@COGoldRust">
  <meta name="twitter:title" content="Colorado Gold Rust">
  <meta name="twitter:description" content="Rowdy Rust in the Wild West.">
  <meta name="twitter:image" content="{{ resize_image(path="logo.png", width=400, op="fit_width") }}">
</head>
<body>
  <header id="top">
    <nav class="main">
      <ul>
        {% if current_path != "" %}
          <li>
            <a href="{{ config.base_url }}">Home</a>
          </li>
        {% endif %}
        {% set about = get_page(path="about.md") %}
        {% set packages = get_page(path="sponsors/packages.md") %}
        {% for link in [about, packages] %}
        {% if current_path != link.path %}
        <li>
          <a href="{{ get_url(path=link.path, trailing_slash=true) }}">
            {{ link.title }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <a href="{{ config.base_url }}">
      <img class="flag" src="{{ resize_image(path="logo.png", width=300, op="fit_width") }}" alt="Colorado Gold Rust Logo">
    </a>
    {% block pagetitle %}
    <h1>{{ config.title }}</h1>
    {% endblock pagetitle %}
  </header>
  <div class="content">
    {% block content %}
    <p class="headline">Join us in Denver, Colorado on September 20-21, 2019, for two days of Rowdy Rust in the Wild West.</p>
    <tito-widget event="cogoldrust/2019"></tito-widget>
    <div id="social">
      <a href="https://twitter.com/{{ config.extra.twitter }}" class="icon">
        <img src="{{ get_url(path="twitter.svg") }}" class="icon" alt="Twitter for {{ config.title }}">
      </a>
      <a href="mailto:{{ config.extra.email }}" class="icon">
        <img src="{{ get_url(path="email.svg") }}" class="icon" alt="Email {{ config.title }}">
      </a>
    </div>
    {% endblock content %}
  </div>
  <footer>
    {% block footer %}
      <nav class="main">
        <ul>
          {% if current_path != "" %}
            <li>
              <a href="{{ config.base_url }}">Home</a>
            </li>
          {% endif %}
          {% set about = get_page(path="about.md") %}
          {% set packages = get_page(path="sponsors/packages.md") %}
          {% for link in [about, packages] %}
          {% if current_path != link.path %}
          <li>
            <a href="{{ get_url(path=link.path, trailing_slash=true) }}">
              {{ link.title }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <p class="copyright">
        &copy; {{ config.extra.copyright }}
      </p>
    {% endblock footer %}
</body>
</html>
