<nav class="main screen-only">
  <ul>
    {% if current_path != "" %}
      <li>
        <a href="{{ config.base_url }}">Home</a>
      </li>
    {% endif %}
    <li>
      <a href="https://cfp.cogoldrust.com">CFP</a>
    </li>
    {% set about = get_page(path="about.md") %}
    {% set schedule = get_page(path="schedule.md") %}
    {% set speakers = get_page(path="speakers.md") %}
    {% set sponsors = get_section(path="sponsors/_index.md") %}
    {% set packages = get_page(path="sponsors/packages.md") %}
    {% for link in [about, schedule, speakers, sponsors, packages] %}
    {% if current_path != link.path %}
    <li>
      <a href="{{ get_url(path=link.path, trailing_slash=true) }}">
        {{ link.title }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
