{% extends "index.html" %}

{% block title %}
{{ page.title }} - {{ config.title }}
{% endblock title %}

{% block pagetitle %}
<h1>{{ page.title }}</h1>
{% endblock pagetitle %}

{% block content %}
<h2>Friday</h2>
<div class="paper">
  <h3>Workshops</h3>
  <h3>9:00AM - 12:00PM</h3>
  <ul class="yearbook">
    {% for org in page.extra.workshops.am %}
      <li>
        <img srcset="{{ resize_image(path=org[1], width=200, height=200, quality=80, op="fill") }} 1x 
                     {{ resize_image(path=org[1], width=400, height=400, quality=80, op="fill") }} 2x"
             src="{{ resize_image(path=org[1], width=400, height=400, quality=80, op="fill") }}"
             alt="Avatar for conference presenter {{ org[0] }}"
             class="portrait">
        <h4>{{ org[0] }}</h4>
        {{ org[2] | markdown }}
      </li>
    {% endfor %}
  </ul>
  <h3 class="small">Lunch Break (12:00PM - 2:00PM)</h3>
  <h3>2:00PM - 5:00PM</h3>
  <ul class="yearbook">
    {% for org in page.extra.workshops.pm %}
      <li>
        <img srcset="{{ resize_image(path=org[1], width=200, height=200, quality=80, op="fill") }} 1x 
                     {{ resize_image(path=org[1], width=400, height=400, quality=80, op="fill") }} 2x"
             src="{{ resize_image(path=org[1], width=400, height=400, quality=80, op="fill") }}"
             alt="Avatar for conference presenter {{ org[0] }}"
             class="portrait">
        <h4>{{ org[0] }}</h4>
        {{ org[2] | markdown }}
      </li>
    {% endfor %}
  </ul>
  <h3>RustBridge (9:00AM - 12:00PM, 2:00PM - 5:00PM)</h3>
  <ul class="yearbook">
    {% for org in page.extra.rustbridge %}
      <li>
        <img srcset="{{ resize_image(path=org[1], width=200, height=200, quality=80, op="fill") }} 1x 
                     {{ resize_image(path=org[1], width=400, height=400, quality=80, op="fill") }} 2x"
             src="{{ resize_image(path=org[1], width=400, height=400, quality=80, op="fill") }}"
             alt="Avatar for RustBridge presenter {{ org[0] }}"
             class="portrait">
        <h3>{{ org[0] }}</h3>
      </li>
    {% endfor %}
  </ul>
</div>
<h2>Saturday</h2>
<div class="paper">
  <h3>9:00AM</h3>
  <p>Venue opens, registration begins.</p>
  <h3>9:30AM</h3>
  <p>First talk begins</p>
  <h3>10:00AM</h3>
  <p>Second talk begins</p>
  <h3>10:30AM</h3>
  <p>BREAK</p>
  <h3>11:00AM</h3>
  <p>Third talk begins</p>
  <h3>11:30</h3>
  <p>Fourth talk begins</p>
  <h3>12:00-2PM</h3>
  <p>LUNCH</p>
  <h3>2:00PM</h3>
  <p>Fifth talk begins</h3>
  <h3>2:30PM</h3>
  <p>Sixth talk begins</h3>
  <h3>3:00PM</h3>
  <p>BREAK</p>
  <h3>3:30PM</h3>
  <p>Seventh talk begins</p>
  <h3>4:00pm</h3>
  <p>Eighth talk begins</p>
  <h3>4:30pm</h3>
  <p>Ninth talk begins</p>
  <h3>5:00pm</h3>
  <p>Wrap up announcements</p>
</div>
<p class="subnote">Please note the schedule may change as we approach conference dates.</p>
{% endblock content %}
