{% extends "index.html" %}

{% block title %}
{{ page.title }} - {{ config.title }}
{% endblock title %}

{% block pagetitle %}
<h1>{{ page.title }}</h1>
{% endblock pagetitle %}

{% block content %}
<h2>Friday</h2>
{% set speakers = load_data(path="speakers.toml") %}
<div class="paper">
  <h3>Workshops</h3>
  <h3>9:00AM - 12:00PM</h3>
  <ul class="yearbook">
    {% for presenter in speakers.workshops | filter(attribute="slot", value="am") %}
      <li>
        <img srcset="{{ resize_image(path=presenter.avatar, width=200, height=200, quality=80, op="fill") }} 1x 
                     {{ resize_image(path=presenter.avatar, width=400, height=400, quality=80, op="fill") }} 2x"
             src="{{ resize_image(path=presenter.avatar, width=400, height=400, quality=80, op="fill") }}"
             alt="Avatar for conference presenter {{ presenter.name }}"
             class="portrait">
        <h4>{{ presenter.name }}</h4>
        {{ presenter.title | markdown | safe }}
      </li>
    {% endfor %}
  </ul>
  <h3 class="small">Lunch Break (12:00PM - 2:00PM)</h3>
  <h3>2:00PM - 5:00PM</h3>
  <ul class="yearbook">
    {% for presenter in speakers.workshops | filter(attribute="slot", value="pm") %}
      <li>
        <img srcset="{{ resize_image(path=presenter.avatar, width=200, height=200, quality=80, op="fill") }} 1x 
                     {{ resize_image(path=presenter.avatar, width=400, height=400, quality=80, op="fill") }} 2x"
             src="{{ resize_image(path=presenter.avatar, width=400, height=400, quality=80, op="fill") }}"
             alt="Avatar for conference presenter {{ presenter.name }}"
             class="portrait">
        <h4>{{ presenter.name }}</h4>
        {{ presenter.title | markdown | safe }}
      </li>
    {% endfor %}
  </ul>
  <h3>RustBridge (9:00AM - 12:00PM, 2:00PM - 5:00PM)</h3>
  <ul class="yearbook">
    {% for presenter in speakers.rustbridge %}
      <li>
        <img srcset="{{ resize_image(path=presenter.avatar, width=200, height=200, quality=80, op="fill") }} 1x 
                     {{ resize_image(path=presenter.avatar, width=400, height=400, quality=80, op="fill") }} 2x"
             src="{{ resize_image(path=presenter.avatar, width=400, height=400, quality=80, op="fill") }}"
             alt="Avatar for RustBridge presenter {{ presenter.name }}"
             class="portrait">
        <h3>{{ presenter.name }}</h3>
      </li>
    {% endfor %}
  </ul>
</div>
<h2>Saturday</h2>
<div class="paper">
  <h3>9:00AM</h3>
  <p align="center">Venue opens, registration begins.</p>
  {% set schedule = load_data(path="schedule.toml") %}
  {% for slot in schedule.talks %}
  <h3>{{ slot.localtime }}</h3>
  {% if slot.name != "" and slot.title != "" %}
  <p align="center">{{ slot.name }}: {{ slot.title }}</p>
  {% else %}
  <p align="center">Unscheduled</p>
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}
