{% extends "index.html" %}

{% block title %}
{{ page.title }} - {{ config.title }}
{% endblock title %}

{% block pagetitle %}
<h1>{{ page.title }}</h1>
{% endblock pagetitle %}

{% block content %}
{% set program = load_data(path="content/program.json") %}
<ul>
{% for session in program %}
  {% for speaker in session.speakers %}
<li>
    <h3>{{ speaker.name }}</h3>
    <p>Presenting: {{ session.title }}</p>
    {{ speaker.bio | markdown | safe }}
</li>
  {% endfor %}
{% endfor %}
</ul>
{% endblock content %}
